// @use '@fontsource/dm-sans';

// Light Theme Colors
$primary-light: #2196f3;
$secondary-light: #f50057;
$background-light: #ffffff;
$paper-light: #f5f5f5;
$text-primary-light: #212121;
$text-secondary-light: #757575;

// Dark Theme Colors
$primary-dark: #ececec;
$secondary-dark: #f48fb1;
$background-dark: #1a1919;
$paper-dark: #1e1e1e;
$text-primary-dark: #ffffff;
$text-secondary-dark: #b0bec5;

// Font Family
$font-family: 'DM sans', sans-serif;

// Typography
$font-size-base: 12px;
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;
